body{
    height: 100%;
}

.row div{
	
}

div#mainPanel{
    height: 100%;
    width: 100%;
}

nav#navBar{
    border-radius: 0px;
    position: fixed;
    width: 100%;
    min-width: 200px;
	z-index: 100;
}


#navBar a {
}

div#mainButton {
    height: 100px;
    width: 100px;
}

span#mainButton {
    font-size: 80px;
    color: #FAFAFA;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    display: block;
}

div.circular{
	width: 15%;
	height: 0;
	padding-bottom: 15%;
	-moz-border-radius: 50%; 
	border-radius: 50%;
	background-color: #6DD16D;      
}

div#buttonPanel {
    border: 1px solid white;  
    margin: 0px auto 0px auto;  
    min-width: 150px;  
    min-height: 150px;
    position: relative;
    top: 35%;
}

html {
    height: 100%;
}
